.hero_container {
  .hero_background {
    background-image: url(https://odindesignthemes.com/vikinger/img/cover/01.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  .hero_info {
    height: 126px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .hero_buttons {
      width: 376px;
      display: flex;
      position: absolute;
      right: 32px;
      top: -40px;

      .btn:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .hero_info-left {
    display: flex;
    padding-top: 52px;
    padding-left: 40px;
    .user-stat {
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 0 30px;
      position: relative;

      &::after {
        content: "";
        height: 20px;
        width: 1px;
        background-color: $color-border;
        position: absolute;
        top: 10px;
        right: 0;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }

      .user-stat_text {
        font-size: 22px;
        font-weight: 700;
        color: $color-text-dark;
      }

      .user-stat_title {
        font-size: 12px;
        margin-top: 12px;
        font-weight: 700;
        color: $color-text-light;
        text-transform: uppercase;
      }

      img {
        width: 24px;
        height: 16px;
        margin-bottom: 6px;
      }
    }
  }

  .hero_info-right {
    display: flex;
    padding-top: 52px;
    margin-right: 32px;

    .user-social {
      width: 40px;
      height: 40px;
      @include centerChild;
      color: $color-white;
      font-size: 12px;
      border-radius: 10px;
      margin-right: 12px;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .hero_info-user {
    height: 210px;
    width: 148px;
    background-color: $color-white;
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
  }
}

.todo-container {
  padding: 20px;
  margin-top: 20px;

  .input-row {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin-bottom: 10px;
  }

  li {
    border: 1px solid red;
    margin: 5px 0;
    h4 {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
