.layout_container {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "topbar topbar"
    "sidebar content";
  min-width: 100vw;
  min-height: 100vh;

  .layout_content {
    grid-area: content;
    background-color: $color-background;
  }
}
