.topbar {
  max-width: 100vw;
  height: 80px;
  padding: 0 26px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo_container {
    height: 100%;
    display: flex;
    align-items: center;

    .logo_image-container {
      .logo_image {
        width: 50px;
        height: 50px;
      }

      .logo_image path {
        fill: $color-white;
      }
    }

    h1 {
      color: $color-white;
      font-size: 20px;
      font-family: "Titillium Web", sans-serif;
      font-weight: 900;
      margin-left: 4px;
    }
  }

  .nav-container {
    display: flex;
    align-items: center;

    .action-item {
      font-size: 22px;
      margin-right: 26px;
    }
  }

  nav {
    ul {
      display: flex;
      flex-direction: row;
    }

    li {
      a,
      button {
        margin: 0 14px;
        color: $color-white;
        font-size: 12px;
        text-decoration: none;
        font-weight: 700;
        padding: 10px;

        &:hover {
          color: $color-accent;
          transition: color 0.2s ease-in-out;
        }
      }

      button {
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
      }
    }
  }

  .searchbar_container {
    width: 570px;
    height: 52px;
    background-color: $color-primary-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;

    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      color: $color-white;
      font-family: "Rajdhani", sans-serif;
      font-weight: 700;
      font-size: 16px;
      padding-left: 18px;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        color: $color-icon-light;
        opacity: 0.6;
      }
    }

    .searchbar_icon-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      font-size: 19px;
      color: $color-icon-light;
      opacity: 0.6;
    }
  }

  .experience-indicator_container {
    width: 110px;
    display: flex;
    flex-direction: column;

    .experience-indicator_info {
      width: 100%;
      font-weight: 800;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      color: $color-white;
      font-size: 12px;
      text-transform: uppercase;
    }

    progress {
      width: 100%;
      height: 4px;
      background-color: $color-primary;

      &::-webkit-progress-bar,
      &::-webkit-progress-value {
        border-radius: 7px;
        height: 4px;
      }
      &::-webkit-progress-bar {
        background-color: $color-primary-dark;
      }
      &::-webkit-progress-value {
        background-color: $color-accent;
      }
    }
  }

  .actions-menu_container {
    display: flex;
    align-items: center;
    .actions-menu_group {
      padding: 5px 18px;
      border-left: 1px solid $color-icon-light;
      border-right: 1px solid $color-icon-light;
      margin-right: 18px;
    }
  }
  .action-item {
    display: inline-block;
    margin: 0 14px;
    font-size: 20px;
    color: $color-icon-light;
    // opacity: 0.6;

    &:hover {
      color: white;
      transition: 150ms ease-in-out;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
    }
  }
}
