// Pure colors
$color-white: #ffffff;
$color-black: #000000;

// App colors
$color-primary: #615dfa;
$color-primary-dark: #4e4ac8;
$color-accent: #23d2e2;
$color-icon-light: #8b88ff;
$color-border: #dedeea;
$color-background: #f8f8fb;
$color-background-dark: #45437f;

// Text
$color-text-light: #adafca;
$color-text-dark: #3e3f5e;
